#result, #answers{
  white-space: pre-line;
  border-radius: 4px;
  width: 100px;
  /*height: 200px;
  overflow-y: scroll;*/
  margin: 0 auto;
  text-align: center;
  background-color: #fafafa;
  float: left;
}
#result{
  display:none;
}
#wing{
  border-radius: 4px;
  width: 20%;
  /*height: 200px;
  overflow-y: scroll;*/
  margin: 0 auto;
  margin-left: 2.5%;
  text-align: center;
  background-color: #fafafa;
  float: left;
  display: none;
}
#wing2{
  border-radius: 4px;
  width: 20%;
  /*height: 200px;
  overflow-y: scroll;*/
  margin: 0 auto;
  margin-right: 2.5%;
  text-align: center;
  background-color: #fafafa;
  float: right;
  display: none;
}
#resultLeft{
  white-space: pre-line;
  border-radius: 4px;
  width: 50%;
  height:auto;
  max-height:45%;
  overflow-y: scroll;
  /*margin: 0 auto;*/
  margin-right: 25%;
  margin-left: 25%;
  text-align: center;
  background-color: #fafafa;
  font-size: 1.2rem;
}
.tags::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
#bruh{
  /*display: block; */
  margin: 20 auto;
  text-align: center;
}
#guess{
  width: 30%;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
}
#genres{
    width: fit-content;
}
#populator{
  display: none;
  width: 0px;
  height: 0px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;   /* Footer height */
}
li{
  color: red;
  padding-left: 0;
  list-style-type: none;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* CSS */
.button-85 {
  font-weight: 600;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #2b2d42;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
#skip{
  background: white;
  color: #2b2d42;
  border: solid;
  border-width: 1px;
  border-color: #fafafa;
}
#submit:hover{
  background: #343750;
}
#skip:hover{
  border-color: black;
}
/*
.button-85:before{
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}*/
html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    visibility: visible;
    opacity: 1;
    background-color: #EDF1F5;
}
body{
  margin: 0px;
}
/* Add a black background color to the top navigation */
.topnav {
  font-family: 'Overpass', sans-serif;
  margin-bottom: 5%;
  background-color: #2b2d42;
  overflow: hidden;
  font-weight: 600;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


/* Change the color of links on hover */
.topnav a:hover {
  /*background-color: #ddd;
  color: black;*/
  opacity: 85%;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #3d97eb;
  color: white;
}

#title{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
h1{
  text-align: center;
}
.clue{
  white-space: pre-line;
  color: #9299A1;
  font-size: .9rem;
}
.clueHeader{
  font-size: 1rem;
  font-weight: 500;
  display:none;
  white-space: pre-line;
  color: #5C728A;
}
